---
import { Image as AstroImage } from "astro:assets";
import _1 from "../assets/dynamic/1/01.webp";
import _1_bg from "../assets/dynamic/1/bg.webp";
import _1_upper from "../assets/dynamic/1/upper.webp";
import _2 from "../assets/dynamic/2/02.webp";
import _2_bg from "../assets/dynamic/2/bg.webp";
import _2_upper from "../assets/dynamic/2/upper.webp";
import _3 from "../assets/dynamic/3/03.webp";
import _3_bg from "../assets/dynamic/3/bg.webp";
import _3_upper from "../assets/dynamic/3/upper.webp";
import _4 from "../assets/dynamic/4/04.webp";
import _4_bg from "../assets/dynamic/4/bg.webp";
import _4_upper from "../assets/dynamic/4/upper.webp";
import _5 from "../assets/dynamic/5/05.webp";
import _5_bg from "../assets/dynamic/5/bg.webp";
import _5_upper from "../assets/dynamic/5/upper.webp";
import _6 from "../assets/dynamic/6/06.webp";
import _6_bg from "../assets/dynamic/6/bg.webp";
import _6_upper from "../assets/dynamic/6/upper.webp";
import _7 from "../assets/dynamic/7/07.webp";
import _7_bg from "../assets/dynamic/7/bg.webp";
import _7_upper from "../assets/dynamic/7/upper.webp";

const featuresData = [
  {
    id: 1,
    title: "Stunningly Realistic Previews",
    description:
      "Go beyond limits with endless customization, offering personalization as unique as your vision.",
    image: _1,
    images: [
      { src: _1_bg, alt: "bg", class: "", dataAtroposOffset: "-1" },
      {
        src: _1_upper,
        alt: "All-Inclusive Signage Solutions",
        class:
          "absolute left-[0%] top-[0%] w-[100%] h-[100%] object-contain block z-10 max-w-none pointer-events-none transform-3d",
        style: {
          transitionDuration: "300ms",
          transform: "translate3d(0px, 0px, 0px)",
        },
        dataAtroposOffset: "3",
      },
    ],
  },
  {
    id: 2,
    title: "Worldwide Accessibility",
    description:
      "Provide Options with Detail: Text, Color, Images, Uploads, & More at Your Command.",
    image: _2,
    images: [
      { src: _2_bg, alt: "bg", class: "", dataAtroposOffset: "-1" },
      {
        src: _2_upper,
        alt: "All-Inclusive Signage Solutions",
        class:
          "absolute left-[0%] top-[0%] w-[100%] h-[100%] object-contain block z-10 max-w-none pointer-events-none transform-3d",
        style: {
          transitionDuration: "300ms",
          transform: "translate3d(0px, 0px, 0px)",
        },
        dataAtroposOffset: "3",
      },
    ],
  },
  {
    id: 3,
    title: "Fully Customizable Signage",
    description:
      "Let your customers instantly see their personalized products with our live preview.",
    image: _3,
    images: [
      { src: _3_bg, alt: "bg", class: "", dataAtroposOffset: "-1" },
      {
        src: _3_upper,
        alt: "All-Inclusive Signage Solutions",
        class:
          "absolute left-[0%] top-[0%] w-[100%] h-[100%] object-contain block z-10 max-w-none pointer-events-none transform-3d",
        style: {
          transitionDuration: "300ms",
          transform: "translate3d(0px, 0px, 0px)",
        },
        dataAtroposOffset: "3",
      },
    ],
  },
  {
    id: 4,
    title: "Personalized Font Selection",
    description:
      "Use Conditions to narrow customer requirements and deliver the best experience.",
    image: _4,
    images: [
      { src: _4_bg, alt: "bg", class: "", dataAtroposOffset: "-1" },
      {
        src: _4_upper,
        alt: "All-Inclusive Signage Solutions",
        class:
          "absolute left-[0%] top-[0%] w-[100%] h-[100%] object-contain block z-10 max-w-none pointer-events-none transform-3d",
        style: {
          transitionDuration: "300ms",
          transform: "translate3d(0px, 0px, 0px)",
        },
        dataAtroposOffset: "3",
      },
    ],
  },
  {
    id: 5,
    title: "Dynamic Pricing",
    description:
      "Adjust prices dynamically per personalization and display the price update real-time.",
    image: _5,
    images: [
      { src: _5_bg, alt: "bg", class: "", dataAtroposOffset: "-1" },
      {
        src: _5_upper,
        alt: "All-Inclusive Signage Solutions",
        class:
          "absolute left-[0%] top-[0%] w-[100%] h-[100%] object-contain block z-10 max-w-none pointer-events-none transform-3d",
        style: {
          transitionDuration: "300ms",
          transform: "translate3d(0px, 0px, 0px)",
        },
        dataAtroposOffset: "3",
      },
    ],
  },
  {
    id: 6,
    title: "Bold, Vibrant Color Options",
    description:
      "Use different styles to keep your store sleek and functional on any device.",
    image: _6,
    images: [
      { src: _6_bg, alt: "bg", class: "", dataAtroposOffset: "-1" },
      {
        src: _6_upper,
        alt: "All-Inclusive Signage Solutions",
        class:
          "absolute left-[0%] top-[0%] w-[100%] h-[100%] object-contain block z-10 max-w-none pointer-events-none transform-3d",
        style: {
          transitionDuration: "300ms",
          transform: "translate3d(0px, 0px, 0px)",
        },
        dataAtroposOffset: "3",
      },
    ],
  },
  {
    id: 7,
    title: "All-Inclusive Signage Solutions",
    description:
      "Use different styles to keep your store sleek and functional on any device.",
    image: _7,
    images: [
      { src: _7_bg, alt: "bg", class: "", dataAtroposOffset: "-1" },
      {
        src: _7_upper,
        alt: "All-Inclusive Signage Solutions",
        class:
          "absolute left-[0%] top-[0%] w-[100%] h-[100%] object-contain block z-10 max-w-none pointer-events-none transform-3d",
        style: {
          transitionDuration: "300ms",
          transform: "translate3d(0px, 0px, 0px)",
        },
        dataAtroposOffset: "3",
      },
    ],
  },
];
---

<div class="feature-body md:hidden w-full">
  <div class="feature-list flex flex-col gap-4">
    {
      featuresData?.map((feature, id) => (
        <div class="feat-item w-full rounded-lg overflow-hidden shadow-lg">
          <button
            class={`feat-toggle w-full group p-4 text-left font-semibold transition-colors duration-300 flex justify-between items-center bg-background`}
            data-idx={id}
          >
            <div class="relative overflow-hidden">
              <span class="block group-hover:-translate-y-8 translate-y-0 transition-all ease-out duration-300 p-0 m-0">
                {feature?.title}
              </span>
              <span class="absolute top-0 block translate-y-8 group-hover:translate-y-0 transition-all ease-out duration-300 p-0 m-0">
                {feature?.title}
              </span>
            </div>
            <span
              class={`feat-toggle-icon transform transition-transform duration-300 rotate-0`}
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width={2}
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"
                />
              </svg>
            </span>
          </button>
          <div
            class={`feat-mbl-img rounded-xl rounded-t-none overflow-hidden shadow-md transition-all duration-500 ease-in-out bg-background/50 max-h-0 opacity-0 invisible`}
          >
            <div>
              <AstroImage
                loading="eager"
                decoding="sync"
                src={feature?.image}
                alt={feature?.title}
                class="w-full object-contain"
              />
              {/* <div class='px-6 py-4 text-center'>
                <p class="leading-relaxed !text-base">{feature?.description}</p>
              </div> */}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>

{/* Layout for medium and larger devices (enhanced original tab style) */}
<div class="feature-body hidden md:flex flex-row-reverse gap-8 items-center">
  <div class="feature-list flex flex-col gap-4">
    {
      featuresData.map((feature, id) => (
        <button
          class={`feat-item feat-toggle p-4 group rounded-xl text-left transition-colors duration-300 font-semibold cursor-pointer overflow-hidden shadow-md bg-background`}
          data-idx={id}
        >
          <div class="relative overflow-hidden">
            <span class="block group-hover:-translate-y-8 translate-y-0 transition-all ease-out duration-300 p-0 m-0">
              {feature?.title}
            </span>
            <span class="absolute top-0 block translate-y-8 group-hover:translate-y-0 transition-all ease-out duration-300 p-0 m-0">
              {feature?.title}
            </span>
          </div>
        </button>
      ))
    }
  </div>
  <div
    class="atropos z-10 relative flex-1 md:w-2/3 lg:w-3/4 bg-transparent touch-none"
  >
    <div class="atropos-scale">
      <div class="atropos-rotate">
        <div class="atropos-inner">
          {
            featuresData.map((feature) => (
              <div class="feat-dsk-img relative transform-3d translate-z-0 !hidden">
                {feature?.images instanceof Array ? (
                  feature?.images.map((img) => (
                    <AstroImage
                      loading="eager"
                      decoding="sync"
                      src={img.src}
                      alt={img.alt}
                      style={img.style || {}}
                      class={`${img.class} pre-img` || ""}
                      data-atropos-offset={img.dataAtroposOffset || null}
                    />
                  ))
                ) : (
                  <AstroImage
                    loading="eager"
                    decoding="sync"
                    src={feature?.image}
                    alt={feature?.title}
                    class="w-full object-contain"
                  />
                )}
                {/* <div class='px-6 py-4 text-center'>
                  <p class="leading-relaxed !text-base">{selectedFeature?.description}</p>
                </div> */}
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>

  <script>
    import Atropos from "atropos";
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll(".atropos").forEach((el) => {
        Atropos({ el });
      });

      const featBody = document.querySelectorAll(".feature-body");
      featBody.forEach((body) => {
        const featLists = body.querySelectorAll(".feature-list");
        const featDskImg = body.querySelectorAll(".feat-dsk-img");
        featLists.forEach((featList) => {
          featList?.addEventListener("click", (e) => {
            const clickedButton = e.target.closest(".feat-toggle");
            if (!clickedButton) return;
            activate(0, clickedButton);
          });
          const activate = (clkIdx, clickedButton) => {
            const clickedIdx = clickedButton?.dataset?.idx ?? clkIdx;
            const allItems = featList.querySelectorAll(".feat-item");

            allItems.forEach((item, idx) => {
              const isClicked = clickedIdx == idx;
              const icon = item.querySelector(".feat-toggle-icon");
              const btn = item.querySelector(".feat-toggle") ?? item;
              const featMblImg = item.querySelector(".feat-mbl-img");

              if (isClicked) {
                btn.classList.add("tryBtn", "text-white", "shadow-sm");
                btn.classList.remove("bg-background");
                icon?.classList.remove("rotate-0");
                icon?.classList.add("rotate-180");
                featMblImg?.classList.remove(
                  "max-h-0",
                  "opacity-0",
                  "invisible"
                );
                featMblImg?.classList.add(
                  "max-h-[1000px]",
                  "opacity-100",
                  "visible"
                );
                featDskImg?.[idx]?.classList.remove("!hidden");
              } else {
                btn.classList.remove("tryBtn", "text-white", "shadow-sm");
                btn.classList.add("bg-background");
                icon?.classList.add("rotate-0");
                icon?.classList.remove("rotate-180");
                featMblImg?.classList.add("max-h-0", "opacity-0", "invisible");
                featMblImg?.classList.remove(
                  "max-h-[1000px]",
                  "opacity-100",
                  "visible"
                );
                featDskImg?.[idx]?.classList.add("!hidden");
              }
            });
          };
          activate(0, null);
        });
      });
    });
  </script>
</div>
